body {
    background-color: ;
color: white
 font-family:"bai jamjuree", sans-serif;
 display: flex
justify_content: center;
align-items:center;
height: 700px;
margin:0;
{

    button{
background-color: green
color white ;
 font-family:"bai jamjuree", sans-serif;   
.passo {
    display: none;
.passo.ativo {
    display:block;
main {
    max-width: 90%;
  main {
    text-align: center;
    max-width: 90%;
   <!-- código omitido →

<body>
    <main>
        <div class="passo ativo" id="passo-0">
            <img src="img/cenario-passo0.png" alt="">
            <p>Um dia desses, dentro de um livro da biblioteca da escola, descobri uma carta antiga sobre uma cidade perdida, escondida por riquezas e belezas naturais. Nessa carta, a autora deixa algumas pistas para encontrar essa cidade e eu decidi segui-las!</p>
            <button class="btn-proximo" data-proximo="1">Rio de Janeiro</button>
            <button class="btn-proximo" data-proximo="2">Pernambuco</button>
        </div>
        <div class="passo" id="passo-1">
            <p>Você começa sua jornada no Rio de Janeiro, subindo o Pico da Tijuca ao amanhecer para encontrar a primeira pista.</p>
            <button class="btn-proximo" data-proximo="3">Procurar a pista no topo do pico</button>
            <button class="btn-proximo" data-proximo="4">Desistir e voltar para casa</button>
        </div>
        <div class="passo" id="passo-2">
 
        </div>
    </main>

<!-- código omitido --> 